{% extends "layout.html" %}

{% block head %}
    <title> Sobre - Thyall D'greville</title>
{% endblock %}

{% block content %}
    <div id = "wrapper">
        <img src="https://avatars3.githubusercontent.com/u/29062173?s=460&u=eb568d24153e4804195322bcc765de1236752c42&v=4" alt="Thyall">
        <h1>Thyall D'greville</h1>
        <h2>Estudante de TI</h2>
        <p>Estudante de programação e atualmente realizando o curso de LaunchBase da <a href="https://rocketseat.com.br" target="_blank"> Rocketseat</a></p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/thyall" target="_blank">Github</a>
        <a href="https://twitter.com/Thyall1" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com/in/thyall-dgreville-651889195/" target="_blank">Linkedin</a>
    </div>
{% endblock %}



