<div class="items">
    <div>Avatar URL</div>
    <div>
        <input
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{teacher.avatar_url}}"
        >
    </div>
</div>

<div class="items">
    <div>Instrutor</div>
    <div>
        <input
            type="text"
            name="name"
            placeholder="Nome do instrutor"
            value="{{teacher.name}}"
        >
    </div>
</div>

<div class="items">
    <div>Data de nascimento</div>
    <div>
        <input
            type="date"
            name="birth"
            value="{{teacher.birth}}"
        >        
    </div>
</div>

<div class="items">
    <div>Sexo</div>
    <div>
        <span><input
         type="radio"
         name="gender"
         value="M"
         {% if teacher.gender == "M" %}
            checked
         {% endif %}>Masculino</span>
        <span><input
         type="radio"
         name="gender"
         value="F"
         {% if teacher.gender == "F" %}
            checked
        {% endif %}>Feminino</span>
    </div>
</div>
        
<div class="items">
    <div>Área de atuação</div>
    <div>
        <input
            type="text" 
            name="services"
            placeholder="Separe os serviços prestados por vírgula"
            value="{{teacher.services}}"
        >
    </div>
</div>

<button type="submit">Salvar</button>