{% extends "layout.njk" %}

   {% block head %}
            <title>Sobre-Thyall D'greville</title>
        {%endblock%}

{% block content %}

    <div id = "wrapper">
        <img src="{{about.logo}}" alt="Imagem de {{about.titulo}}">
        <h1>{{about.titulo}}</h1>
        <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.
            No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias,
            você precisa de alguém que te leve na direção certa
        </h2>
    </div>

    <div id= "list">
        <h1>Técnologias Utilizadas</h1>
        <ul>
            <li>JavaScrit</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Node</li>
            <li>React</li>
            <li>React Native</li>
        </ul>
    </div>

{% endblock %}