<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Thyall D'greville</title>
        {%endblock%}

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
        <link rel="stylesheet" href="/styles2-3.css">
    </head>

    <body>   
        
        <header>
            <div class="links">
                <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
                <a href="mailto:webteste@gmail.com">Email</a>
                <a href="tel:+5547992078767">Telefone</a>
                <a href="/">Sobre</a>
                <a href="courses">Conteúdos</a>
            </div>
        </header>  

        {% block content %}{% endblock %}

        <div id="links-footer" class="links">
            <a href="https://github.com/Rocketseat" target="_blank">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
        </div>
    </body>    
</html>